* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.foot-button {
    font-size: 14px;
    line-height: 19.32px;
    margin: 0px 7px;
    padding: 0px 7px;
    display: flex;
    width: 8vw;
    text-align: center;
    justify-content: center;
}

.header-button {
    margin: 0px 7px;
    padding: 0px 7px;
}

.image-container {
    background-color: #d6f0fa;
}
